<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="submit" name="submit" method="post" action="/submit">
      <textarea id="content" type="text" placeholder="Put code here! CAUSE WE <3 KENNY!" name="content"></textarea> <br>
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
